# Run with `ansible-playbook ~/raspberrypi-config.yaml`
# This script automatically configures and updates the Raspberry pi with Ansible
---
- hosts: raspberry
  becom: true
  gather_facts: no
  remote_user: Admin
  tasks:
    - name: Install packages
      apt:
        update_cache: yes
        autoremove: yes
        state: present
        pkg:
          - git
          - curl
          - wget
          - vim
          - nodejs   

    - name: "reset cron"
      shell: "crontab -r || echo already clean"
      tags: [ cron ]

    - file: { path: /ext-disk, state: directory }
      tags: [ disk ]

    - name: '/etc/fstab'
      lineinfile:
        path: /etc/fstab
        line: 'UUID=240A-1CED  /ext-disk  vfat   auto,nofail,noatime,rw,exec,uid=plex,gid=plex,nouser,async  0 0'
        regexp: ^.*\/ext-disk
      register: fstab
      tags: [ disk, fstab ]

    - name: static ip
      copy:
        dest: /etc/dhcpcd.conf
        owner: root
        group: root
        mode: 0664
        content: |
          hostname
          clientid
          persistent
          option rapid_commit
          option domain_name_servers, domain_name, domain_search, host_name
          option classless_static_routes
          option interface_mtu
          require dhcp_server_identifier
          slaac private
          interface wlan0
          static ip_address=192.168.2.168/24
          static routers=192.168.2.1
          static domain_name_servers=8.8.8.8
      tags: [ network ]

    - name: "authorise SSH key mac 13 e 15"
      copy:
        dest: /root/.ssh/authorized_keys
        content: |
          ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDMB81MIQJvMtnolJMUJ5i6hQilarJDQ5gY907zHxUC4oZvM2qoM0s2K3GGbUkW82OYs7aGKGdNg3XJTGorf3CdW97sEHMqvooJekXK1UEwuVD2DrxCoNDBxu2Gb2CZVG4G5oX8uXgeOHk2tRl+nAd7JqRJxnIiZ+YhWooj6eYqQjWJL/F+ix9GmQV4pxO+83g7FrhwFocqrmwn9CUbBSZuxvr6Dz+sH6nopTdFAtzF6ReCWLesid+vEvsLZBiszQLNubHvIRtyCYabH2tZFxbt19XEQHIucTpmIGP6hmjFcldA550VkZPIeGrw0iWGU32fb4RZ40q9S9zr1FoKeBZ
      tags: [ ssh ]